<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <title>Inicio</title>
</head>
<body>
    <div class="container-xl mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 bg-success rounded">
                <h2 th:text="${title}" class="fw-bold text-white text-center text-uppercase py-2"></h2>
            </div>
        </div>
    </div>

    <div class="container-xl mt-3">
        <div class="row d-flex justify-content-center">
            <div class="col-md-9 mt-3">
                <button type="button" data-bs-toggle="modal" data-bs-target="#nuevoProducto" class="btn btn-outline-primary px-3 py-2 fw-bold text-uppercase w-100">Agregar Producto</button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#nuevoEmail" class="btn btn-outline-secondary px-3 py-2 fw-bold text-uppercase w-100 mt-3">Enviar Email</button>
                <div class="w-100 mt-3" id="alertas_fuera"></div>
                <table class="table table-dark text-center table-striped table-hover mt-3">
                    <thead class="thead-dark text-uppercase fw-bold">
                        <tr>
                            <td>ID</td>
                            <td>Nombre</td>
                            <td>Descripcion</td>
                            <td>Precio</td>
                            <td>Opciones</td>
                        </tr>
                    </thead>
                    <tbody id="tbody-productos">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Upload de archivos-->
    <div class="container-xl">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9 mt-3">
                <form action="" method="#" enctype="multipart/form-data" id="form_archivos">
                    <div class="mb-3">
                        <label for="archivos" class="form-label">Archivos</label>
                        <input type="file" name="archivos" id="archivos">
                    </div>
                    <div class="mb-3">
                        <input type="submit" class="btn btn-primary text-white fw-bold text-uppercase px-3 py-2" value="Subir Archivo">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Ventana modal-->
    <div class="modal fade" id="nuevoProducto" aria-labelledby="miModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title text-center fw-bold">Agregar Producto Nuevo</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="w-100 mt-3" id="alertas"></div>
                    <form action="" method="post">
                        <div class="mb-3">
                            <label for="nombre" class="form-label fw-bold text-uppercase">Nombre</label>
                            <input type="text" name="nombre" id="nombre" class="form-control py-2" placeholder="Nombre del producto">
                        </div>
                        <div class="mb-3">
                            <label for="descripcion" class="form-label fw-bold text-uppercase">Descripcion</label>
                            <input type="text" name="descripcion" id="descripcion" class="form-control py-2" placeholder="Descripcion del producto">
                        </div>
                        <div class="mb-3">
                            <label for="precio" class="form-label fw-bold text-uppercase">Precio</label>
                            <input type="text" name="precio" id="precio" class="form-control py-2" placeholder="Precio del producto">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="sendForm" class="btn btn-success fw-bold text-uppercase px-3 py-2">Registrar</button>
                    <button type="button" class="btn btn-secondary fw-bold text-uppercase px-3 py-2" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de edicion -->
    <div class="modal fade" id="actualizarProducto" aria-labelledby="miModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title text-center fw-bold">Actualizar Producto Producto</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="w-100 mt-3" id="alertasActualizacion"></div>
                    <form action="" method="post">
                        <input type="hidden" name="idupdate" >
                        <div id="errores_actualizacion"></div>
                        <div class="mb-3">
                            <label for="nombreActualizado" class="form-label fw-bold text-uppercase">Nombre</label>
                            <input type="text" name="nombreActualizado" id="nombreActualizado" class="form-control py-2" placeholder="Nombre nuevo del producto">
                        </div>
                        <div class="mb-3">
                            <label for="descripcionActualizada" class="form-label fw-bold text-uppercase">Descripcion</label>
                            <input type="text" name="descripcionActualizada" id="descripcionActualizada" class="form-control py-2" placeholder="Descripcion actualizada del producto">
                        </div>
                        <div class="mb-3">
                            <label for="precioActualizado" class="form-label fw-bold text-uppercase">Precio</label>
                            <input type="text" name="precioActualizado" id="precioActualizado" class="form-control py-2" placeholder="Precio actualizado del producto">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="sendFormUpdate" class="btn btn-success fw-bold text-uppercase px-3 py-2">Actualizar</button>
                    <button type="button" class="btn btn-secondary fw-bold text-uppercase px-3 py-2" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Midal de envio de email-->
    <div class="modal fade" id="nuevoEmail" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3 class="modal-title fw-bold text-center text-uppercase">Enviar Email</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div id="contenedorAlertas" class="d-none">
                        <div id="divAlertasEmail" class="rounded px-3 py-2 text-white fw-bold text-center my-2 text-uppercase"></div>
                    </div>
                    <form method="post" action="#">
                        <div class="mb-3">
                            <label for="to" class="form-label fw-bold text-uppercase">Destinatario:</label>
                            <input type="email" name="to" id="to" class="form-control" placeholder="Email Destinatario" required>
                        </div>
                        <div class="mb-3">
                            <label for="subject" class="form-label fw-bold text-uppercase">Asunto:</label>
                            <input type="text" name="subject" id="subject" class="form-control" placeholder="Asunto del correo" required>
                        </div>
                        <div class="mb-3">
                            <label for="text" class="form-label fw-bold text-uppercase">Cuerpo:</label>
                            <textarea name="text" id="text" class="form-control" cols="5" rows="10" required placeholder="Cuerpo del Correo"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="mb-3">
                        <button type="button" id="sendEmail" class="btn btn-primary px-3 py-2 text-white fw-bold text-uppercase">Enviar Email</button>
                        <button type="button" class="btn btn-danger fw-bold text-uppercase px-3 py-2" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div th:replace="layouts/footer:: footer"></div>
    </footer>
    <script src="/js/Emails.js"></script>
</body>
</html>