<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <title>Pagina Home</title>
</head>
<body>
    <div class="container-xl mt-5">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center bg-success py-2 rounded-2">
                <h2 class="fw-bolder text-white">PAGINA HOME</h2>
            </div>
        </div>
    </div>
</body>
</html>